@app-primary-text-color: #f0a127;

#root{
    background-color: #24628e;
    color: @app-primary-text-color;
    text-align: center;
}

.submitBtn{
    width: 200px;
    height: 35px;
    background-color: #1b4665;
    color: @app-primary-text-color;
    margin: 10px;
}

.inputError{
    color: #960019;
}

.switch-check{
    text-align: start;
    font-weight: bold;
}