@app-primary-text-color: #f0a127;
@navBar-primary-color: #1b4665;

.bg-uniqueColor{
    background-image: linear-gradient(to right,@navBar-primary-color,#035c60 );
}

.nav-link{
    color: @app-primary-text-color;
    font-size: larger;
}

.searchButton{
    color: @app-primary-text-color;
    background-color: @navBar-primary-color;
    border: white;
}

.search{
    background-color: @navBar-primary-color;
    color: @app-primary-text-color;
}

.search:focus{
    background-color: @navBar-primary-color;
    color: @app-primary-text-color;
}

.logo{
    width: 80px;
    height: 80px;
    border: 1px solid #495057;
    margin-right: 10px;
}

.link{
    color: @app-primary-text-color;
    margin-left: 10px;
    border: 2px solid #212529;
}

.link:active, .link:hover{
    color: white;
}